.div_container{
    width: 10%;
    height: 100vw;
    background: rgb(242, 79, 160);
    color: azure;
    border: 1px solid blue;
    margin-left: 5%;
    padding-top: 2%;
}

h1{
    color: black!important;
    font-size: 3vw;
    margin: 3% auto;
    width: 70%;
}

nav{
    background: #f9f9f9;
    width: 250px;
    height: 90vh;
    /*  height: 90vh; - добавили высоту */
    overflow-y: scroll;
    /*  overflow-y: scroll;  - скролл по оси вертикальной */
    position: fixed;
    top: 45px;
    left: 10px;
    padding: 10px;
    box-sizing: border-box;
    opacity: 0.2;
    transition: all 0.5s ease;
}

nav:hover{
    opacity: 1;
    transition: all 0.5s ease;
}

nav > li > a {
    font-size: 1vw;
}

p{
    margin-top: 0.5%;
}

 h2, h3, p, ul, ol, img , hr {
    width: 70%;
    margin: 0px auto;
}

.img_apart{
    width: 30%;
    margin-left: 15% ;
    margin-top: 2%;
}

h1 + p{
    margin-top: 8px;
    line-height: 32px;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.4);
}


blockquote{
    margin-top: 30px;
    margin-left: 20%;
    border-left: 2px solid palevioletred;
    width: 60%;
    padding: 1%;
}

.container_img{
    /* display: flex;
    justify-content: flex-start; */
    margin-top: 2%;
    background: #ebdcdc;
}

.container_img > img{
    width: 30%;
    margin-right: 2%;
}

.header{
    position: relative;
    width: 100%;
    height: 3vw ;
    background: #f9f9f9;
    border-bottom: 1px solid rgba(0, 0, 255, 0.3) ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_img{
    width: 10%;
}

.header > div{
    margin: 0 2%;
    width: 20%;
}

.header_a{
    position: relative;
    margin-left: 2%;
    word-wrap: nowrap;
}

.header > div > a{
    text-decoration: none;
    color: black;
   
}

.section_main{
    width: 100%;
    /* background: #ebdcdc; */
    display: flex;

}

.main_div{
    width: 50%;
}

.main_div > img {
    /* width: 100%; */
    margin-left: 15%;
    margin-top: 4%;
}

.main_div > p{
  width: 50%;
}


.test > div{
    width: 30%;
    height: 300px;
    background: palevioletred;
    margin: 1% ;
    font-size: 4vw;
    text-align: center;
    line-height: 300px;
    color: #f9f9f9;
}