.div_container{
    width: 10%;
    height: 100vw;
    background: rgb(242, 79, 160);
    color: azure;
    border: 1px solid blue;
    margin-left: 5%;
    padding-top: 2%;
}

h1{
    color: black!important;
    font-size: 3vw;
    margin: 3% auto;
    width: 70%;
}

nav{
    background: #f9f9f9;
    width: 300px;
    position: fixed;
    top: 45px;
    left: 10px;
    padding: 10px;
    box-sizing: border-box;
    opacity: 0.2;
    transition: all 0.5s ease;
}

nav:hover{
    opacity: 1;
    transition: all 0.5s ease;
}

p{
    margin-top: 0.5%;
}

 h2, h3, p, ul, ol, div, img , hr {
    width: 70%;
    margin: 0px auto;
}